

<aside>
   <div class="sidebar2">
    
    <nav class="menu">
      <h3>User Dashboard</h3>
      
      <a href="/userd/send" class="menu-item">
        <span class="icon">📂</span>
        Send Files
        
      </a>     
      
      <a href="/files" class="menu-item">
        <span class="icon">📂</span>
        Files
        
      </a>
      <a href="/files" class="menu-item">
        <span class="icon">🕓</span>
        File History
      </a>
    </nav>
    <div class="logout">
      <% if (user) { %>
        <h4>Hello, <%= user.name %>!</h4>
         <p><h4><span class="icon"><i class="fas fa-user"></i></span>
      <%= user.role %></h4></p>
       <a class="logout-btn" href="/users/logout">Logout</a>
      <% } else { %>
        <h4>Hello, Guest!</h4>
        <a class="logout-btn" href="/users/login">Login</a>
      <% } %>
    </div>
    </div>
  </aside>