<section>
  <div class="content">
      <div class="userd">
<h2>Add New File</h2>
<form action="/userd/send" method="POST">
  <label>File Name:</label>
  <input type="text" name="file_id" required>
  
  <label>Sender:</label>
  <input type="text" name="sender_id" required>
  
  <label>Recipient:</label>
  <input type="text" name="recipient" required>
  
  <label>Date:</label>
  <input type="text" name="date" required>

  <label>Status:</label>
  <input type="text" name="status" required>
  
  <label>Comment:</label>
  <input type="text" name="note" required>

  <button type="submit">Send File</button>
  </form>
  </div>
  </div>
</section>