<section>
  <div class="content">
      <div class="filesadd">
<h2>Add New File</h2>
<form action="/directorates/add" method="POST">
  <label>Name:</label>
  <input type="text" name="name" required>
  
  <button type="submit">Add New Directorate</button>
  </form>
  </div>
  </div>
</section>