
<section>
  <div class="content">
      <div class="filesadd">
<h2>Add New File</h2>
<form action="/departments/add" method="POST">
  <label>Department Name:</label>
  <input type="text" name="name" required>
  
  <label>Directorate:</label>
  <input type="text" name="directorate" required>
  
  <button type="submit">Add New Department</button>
  </form>
  </div>
  </div>
</section>
