
<section>
  <div class="content">
      <div class="filesadd">
<h2>Add New Staff</h2>
<form action="/staff/add" method="POST">
  <label>Staff Name:</label>
  <input type="text" name="name" required>
  
  <label>Department:</label>
  <input type="text" name="departments_id" required>
  
  <label>Directorate:</label>
  <input type="text" name="directorates_id" required>
  
  <label>Designation:</label>
  <input type="text" name="designation" required>

  <label>Role:</label>
  <input type="text" name="role" required>
  
  
  <button type="submit">Add Staff</button>
  </form>
  </div>
  </div>
</section>