
<section>
  <div class="content">
      <div class="filesadd">
<h2>Add New File</h2>
<form action="/files/add" method="POST">
  <label>File Name:</label>
  <input type="text" name="name" required>
  
  <label>Department:</label>
  <input type="text" name="department" required>
  
  <label>Directorate:</label>
  <input type="text" name="directorate" required>
  
  <label>File Number:</label>
  <input type="text" name="fileno" required>
  
  <button type="submit">Add File</button>
  </form>
  </div>
  </div>
</section>
